# Redireccionar todas las solicitudes a index.html para permitir
# que Vue Router maneje las rutas del lado del cliente
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /websap/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /websap/index.html [L]
</IfModule>

# Configuración de tipos MIME
<IfModule mod_mime.c>
  # JavaScript
  AddType text/javascript js mjs
  
  # CSS
  AddType text/css css
  
  # Imágenes
  AddType image/svg+xml svg svgz
  
  # Fuentes
  AddType font/ttf ttf
  AddType font/otf otf
  AddType font/woff woff
  AddType font/woff2 woff2
</IfModule>

# Control de caché
<IfModule mod_expires.c>
  ExpiresActive On
  
  # Imágenes
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  
  # CSS y JavaScript
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType text/javascript "access plus 1 month"
  
  # Fuentes
  ExpiresByType font/ttf "access plus 1 year"
  ExpiresByType font/otf "access plus 1 year"
  ExpiresByType font/woff "access plus 1 year"
  ExpiresByType font/woff2 "access plus 1 year"
</IfModule>

# Comprimir contenido
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript
</IfModule>